<nav class="hotlinks flex">
    <ul class='list'>
        <li>
            <a href='/discord' target='_blank'>
                <img
                    class='out'
                    width='32px'
                    height='32px'
                    src='img/icons/discord.svg'
                    alt='Discord'
                />
            </a>
        </li>
        <li>
            <a href='/linkedin' target='_blank'>
                <img
                    class='out'
                    width='32px'
                    height='32px'
                    src='img/icons/linkedin.svg'
                    alt='LinkedIn'
                />
            </a>
        </li>
        <li>
            <a href='/github' target='_blank'>
                <img
                    class='out'
                    width='32px'
                    height='32px'
                    src='img/icons/github.svg'
                    alt='Github'
                />
            </a>
        </li>
        <li>
            <a href='/itch-io' target='_blank'>
                <img
                    class='out'
                    width='32px'
                    height='32px'
                    src='img/icons/itch-io.svg'
                    alt='Itch.io'
                />
            </a>
        </li>
        <li>
            <a href='mailto:trystonminsquero@gmail.com' target='_blank'>
                <img
                    class='out'
                    width='32px'
                    height='32px'
                    src='img/icons/mail.svg'
                    alt='Email'
                />
            </a>
        </li>
    </ul>
</nav>

<section class='flex home'>
    <!--Left side of Home-->
    <div class='container flex-vert'>
        <!--picture of me-->
        <img class='rounded-circle' src='img/Me.png' alt='picture of me' />
        <!--external icon links-->
        {{! <ul class="list flex">
            <li>
                <a href="https://www.linkedin.com/in/tryston-minsquero/" target="_blank">
                    <img class="out" width="32px" height="32px" src="img/icons/linkedin.svg" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="https://github.com/TrystonMinsquero" target="_blank">
                    <img class="out" width="32px" height="32px" src="img/icons/github.svg" alt="Github">
                </a>
            </li>
            <li>
                <a href="https://tryston.itch.io/" target="_blank">
                    <img class="out" width="32px" height="32px" src="img/icons/itch-io.svg" alt="Itch.io">
                </a>
            </li>         
        </ul> }}
    </div>

    <!--Right side of Home-->
    <div class='container flex-vert' id='about-content'>
        {{{aboutContent}}}
        {{! <h2 class="about-header">ABOUT</h2>
        <p class="about-content"> I'm currently a student studying Computer Science at UTD. I plan I 
            graduating Fall of 2022 and I'm looking for internships for the summer. I also have no
            preference on where I'm living and am willing to move for work/internships given appropriate accommodations. I have a passion 
            for creating and love technology so software development is the perfect fit for me. More
            specifically I love video games, and subsequently game development as it's always been a
            dream of mine to be a game developer. However, I find joy in many aspects of computer science
            that involve problem solving and critical thinking. Some of my favorites are system architecture,
            gameplay programming, backend development, and machine learning. Overall though, I'm happy doing 
            anything where I'm making a positive impact wherever I am.</p>
        <h3 class="about-header">BACKGROUND</h3>
        <p class="about-content">I grew up in Houston Texas, where I developed a extremely hardworking mindset and attitude from
            both of my parents. This start being especially prevalent in high-school when I would take 6 ap
            classes and work 20+ hours a week and end up finishing high-school with enough savings to get
            through most of college as well as being able to graduate from UTD with a bachelors in CS in 
            2 and half years, currently with a 4.0 GPA and only 2 semesters left. Being so ahead compared
            to the rest of my peers, In many group situations I usually ended up leading. Almost every game
            jam or school project I was the leader/project manager so I have gained quite a bit of experience
            leading others and delegating tasks.
        </p> }}
    </div>
</section>

<div class='projects container'>
    <!--Recent Projects-->
    <h3>Recent Projects</h3>
    <section class='project-list'>
        <ul class='grid list'>
            {{#each recentProjects}}
                <li>
                    <figure class='hover blue'>
                        {{#if this.images.[Cover.png]}}
                            <img
                                src='{{this.permalink}}/img/Cover.png'
                                alt='{{this.title}}'
                                width='300'
                                height='300'
                            />
                        {{else}}
                            <img
                                src='img/placeholder.png'
                                alt='placeholder'
                                width='300'
                                height='300'
                            />
                        {{/if}}
                        <figcaption>
                            <h2>{{this.title}}</h2>
                        </figcaption>
                        <a href='/{{this.permalink}}'></a>
                    </figure>
                </li>
            {{/each}}
        </ul>
    </section>
</div>